.Auth-container {
    /* background-color: aquamarine; */
    background-image: url(/src/assets/images/ella-olsson-C1Q3qOTlegg-unsplash\ 1.png);
}
.bg-overlay {
    background-image: linear-gradient(to right top, rgba(55, 140, 47, 0.63), rgba(0, 0, 0, 0.6));
}
.sidebar-cont {
    background-color: #1F263E;
    border-top-right-radius: 15%;
    border-style: hidden ;
}

.sidebar-container .ps-sidebar-container {
    background-color: #1F263E;
    height: 100vh;
    color: #fff;
    border-top-right-radius: 15%;
    position: relative;
}

.sidebar-container .ps-sidebar-container .ps-menu-button:hover {
    background-color: rgba(0, 146, 71, 0.1);
}
.header-content {
    background-image: url(../src/assets/images/header-background.png);
    background-size: cover;
    background-position: 100% 100%;
}

.section-container {
    background-color: #F0FFEF;
}

.img-container {
    width: 50px;
}

/* .img-logo {
    left:8px;
} */

/* .img-logo span.ps-menu-icon.css-wx7wi4 {
    width:100px !important;
} */

.sidebar-logo {
    width: 70px;
    padding-top: 20px;
   margin-left: 5px;

}

/* span.ps-menu-icon.css-wx7wi4{
    flex-shrink: 0;
} */

.nav-bg {
    background-color: rgba(248, 249, 251, 1);
    margin-top: 10px;
}

.icons {
    top: calc(30%);
    left: 0.5rem;
}

form .input-icons .form-control, .icon-input .form-control {
    left: .5rem;
    padding-left: 2.5rem;
}

.sidebarIcon{
    padding-top: 30px;
}


.sidebar-container .ps-sidebar-container .img-logo{
    margin: 20px 0;
}
.sidebar-container .ps-sidebar-container .img-logo a:hover{
    background-color: transparent

}
.sidebar-container .ps-sidebar-container .img-logo span{
    width: fit-content;
}
.img-logo img{
    width: 75px;
}